.form-group.formGoodColor__group {
    margin-bottom: 5px;
    margin-right: 0;
    margin-left: 0;
}
.list-group-item_small {
    padding: 5px;

}
.col-xs-6.formGoodColor__label {
    padding-left: 5px;
}
.panel-body_small, .panel-heading_small {
    padding: 5px;
}
.list-group_woMarginBottom {
    margin-bottom: 0;
}